<div style="margin:0 auto;">
    <div id="frameForTask">
        <div class="dialog">
            <table class="table-task">
                <tr>
                    <td class="Ttitle" translate>Specialty name</td>
                    <td><input type="text" ng-model="specialty_name" required></td>
                </tr>
                <tr>
                    <td class="Ttitle" translate>Specialty abbreviation</td>
                    <td><input type="text" ng-model="specialty_abbreviation" required></td>
                </tr>
            </table>
            <div/>
            <div class="tool">
                <button class="btn succes" ng-click="saveSpecialty();">Save Specialty</button>
                <div/>
            </div>
        </div>
    </div>
</div>