<div style="margin:0 auto;">
    <div id="frameForTask">
        <div class="dialog">
            <table class="table-task">
                <tr>
                    <td class="Ttitle" translate>Subjects:</td>
                    <td><input type="text" ng-model="subjects_name" required></td>
                </tr>
            </table>
            <div/>
            <div class="tool">
                <button class="btn succes" ng-click="saveSubject();">Save Subject</button>
                <div/>
            </div>
        </div>
    </div>
</div>